<section class="contact_PC">

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="left_contact">
            <h1>Collaboration for Advancement</h1>
            <p>As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.</p>
          </div>
        </div>
        <div class="col-6">
          <div class="form_message">
            <div class="form" id="form">
              <h3>Send us a message</h3>
              <div class="form_group">
                <input type="text" id="full-name" name="full-name" placeholder="Full name*" onblur="form_an()" required>
              </div>

              <div class="form_group">
                <input type="email" id="email" name="email" placeholder="Email*" required>
              </div>

              <div class="form_group">
                <input type="subject" id="subject1" name="subject" placeholder="Subjects" required>
              </div>

              <div class="form_group">
                <input type="subject" id="subject2" name="subject" placeholder="Subjects" required>
              </div>
              <button><a href="">Contact me</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="serve">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="web_spider" id="webbb">
            <div id="web">
              <div class="vong ngoai">
                <img src="../../../assets/img/contact_serve/ngoai.png" alt="">
                <h3>Visual Design</h3>
                <h3>Information Plan</h3>
                <h3>Wireframe Designing</h3>
                <h3>User testing</h3>
                <h3>Road map</h3>
                <h3>Frontend -Dev</h3>
              </div>

              <div class="vong giua">
                <img src="../../../assets/img/contact_serve/giua.png" alt="">

                <h3>Frammer</h3>
                <h3>Shopify</h3>
                <h3>Balsamiq</h3>
                <h3>3D Spline</h3>
                <h3>Sketch</h3>
              </div>

              <div class="vong trong">
                <img src="../../../assets/img/contact_serve/trong.png" alt="">
                <h3>Webflow</h3>
                <h3>Rive</h3>
                <h3>Photoshop /Illustrator</h3>
                <h3>Figma</h3>
              </div>
            </div>

          </div>
          <div class="first_button" id="button_work">
              <button href="#web"><h3>My Services</h3></button>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>FAQ</h1>
          </div>
        </div>

        <div class="col-12">
          <ul class="faq_content">
             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>If I weren't in the design field, what do I do for a living?</p>
                </div>
                <div class="box_left">
                  <button id="btn"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>My favourite projects in my design career</p>
                </div>
                <div class="box_left">
                  <button id="btn1"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box1">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>My favourite projects in my design career</p>
                </div>
                <div class="box_left">
                  <button id="btn2"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box2">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>How do I typically stay motivated and inspired in my work?</p>
                </div>
                <div class="box_left">
                  <button id="btn3"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box3">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>If I could change something in the design industry, what would I change?</p>
                </div>
                <div class="box_left">
                  <button id="btn4"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box4">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



</section>






















<!-- CONTACT - MOBILE -->

<section class="contact_MB">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="left_contact">
            <h1>Collaboration for Advancement</h1>
            <p>As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.</p>
          </div>
        </div>
        <div class="col-12">
          <div class="form_message">
            <div class="form" id="form">
              <h3>Send us a message</h3>
              <div class="form_group">
                <input type="text" id="full-name" name="full-name" placeholder="Full name*" onblur="form_an()" required>
              </div>

              <div class="form_group">
                <input type="email" id="email" name="email" placeholder="Email*" required>
              </div>

              <div class="form_group">
                <input type="subject" id="subject1" name="subject" placeholder="Subjects" required>
              </div>

              <div class="form_group">
                <input type="subject" id="subject2" name="subject" placeholder="Subjects" required>
              </div>
              <button><a href="">Contact me</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="serve">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="web_spider_MB" id="webbb_MB">
            <div id="web_MB">
              <div class="vong_MB ngoai_MB">
                <img src="../../../assets/img/contact_serve/ngoai.png" alt="">
                <h3>Visual Design</h3>
                <h3>Information <br> Plan</h3>
                <h3>Wireframe<br>Designing</h3>
                <h3>User testing</h3>
                <h3>Road <br>map</h3>
                <h3>Frontend -Dev</h3>
              </div>

              <div class="vong_MB giua_MB">
                <img src="../../../assets/img/contact_serve/giua.png" alt="">

                <h3>Frammer</h3>
                <h3>Shopify</h3>
                <h3>Balsamiq</h3>
                <h3>3D Spline</h3>
                <h3>Sketch</h3>
              </div>

              <div class="vong_MB trong_MB">
                <img src="../../../assets/img/contact_serve/trong.png" alt="">
                <h3>Webflow</h3>
                <h3>Rive</h3>
                <h3>Photoshop /Illustrator</h3>
                <h3>Figma</h3>
              </div>
            </div>

          </div>
          <div class="first_button_MB" id="button_work_MB">
              <button href="#web"><h3>My Services</h3></button>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>FAQ</h1>
          </div>
        </div>

        <div class="col-12">
          <ul class="faq_content">
             <li class="small_content">
              <div class="box_main">
                <div class="box_left ">
                  <p>If I weren't in the design field, what do I do for a living?</p>
                </div>
                <div class="box_right">
                  <button id="btn"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <!-- <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>My favourite projects in my design career</p>
                </div>
                <div class="box_left">
                  <button id="btn1"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box1">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>My favourite projects in my design career</p>
                </div>
                <div class="box_left">
                  <button id="btn2"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box2">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>How do I typically stay motivated and inspired in my work?</p>
                </div>
                <div class="box_left">
                  <button id="btn3"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box3">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li>

             <li class="small_content">
              <div class="box_main">
                <div class="box_right">
                  <p>If I could change something in the design industry, what would I change?</p>
                </div>
                <div class="box_left">
                  <button id="btn4"><u>View more</u></button>
                </div>
              </div>
              <div class="small_box" id="small_box4">
                As mentioned on my About Me page, I have just over a year and a half of experience in this field. While it may seem relatively short in terms of expertise, I am confident that my dedication, responsibility, and personal creativity will contribute significantly. I am eager to bring value to your company or organization, and I believe that with my enthusiasm, I can make a meaningful impact.
              </div>
             </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>



</section>
