

@media only screen and (min-width: 1024px){
  .about_MB{
    display: none;
  }
  .about_TABLET{
    display: none;
  }
  /* Biography */
  .biography{
    margin-top: 72px;
  }
  .biography .bio_infor{
    display: flex;

  }


  .biography .hight_text h1{
    font-family: istok;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10%;
    font-weight: 800;
  }

  .bio_infor .left h3{
    color: #515151;
    font-size: 14px;
    font-weight: 600;
    font-family: istok;
    margin-bottom: 16px;
  }
  .bio_infor .left span{
    color: var(--black-color);
    font-size: 14px;
    font-weight: 600;
    font-family: istok;
  }
  .bio_infor .left p{
    padding-right: 40px;
    color: var(--black-color);
    font-size: 14px;
    font-family: istok;
    margin-bottom: 25px;
    justify-content: center;

  }
  /* mid */

  .bio_infor .mid{
    padding: 30px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    box-shadow: 10px 10px 0px 0px black;
  }
  .bio_infor .mid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .bio_infor .mid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }





  .bio_infor .right h3{
    font-weight: 800;
    font-size: 60px;
    font-family: istok;
  }

  .bio_infor .right p{
    font-weight: 800;
    font-size: 20px;
    font-family: istok;
  }


  .bio_infor .right{
    display: inline-block;
    width: 100%;
  }


  .bio_infor .right .r_experience,
  .bio_infor .right .r_complete,
  .bio_infor .right .r_template{
    margin: 0 0 50px 90px;
  }
  .hight_text h1{
    animation: fadeIn 1.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .animation {
    animation: fadeIn 1s ease-in-out;
  }

  /* SKILLS */

  .skills{
    margin-top: 240px;
    margin-bottom: 100px ;
  }
  .skills .high_text h1{
    font-family: istok;
    font-size: 80px;
    text-align: center;
    font-weight: 800;
  }

  .skills .high_text p{
    color: var(--black-color);
    font-size: 20px;
    font-family: istok;
    margin: 48px 0 24px 0;
    text-align: center;
  }

  .skills .high_text span{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 600;
    font-family: istok;
  }


  .skills .sm_box{
    padding: 25px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 7px 0px 0px black;
    margin: 20px;

  }

  .skills .sm_box img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 45px;
    width: 45px;
  }

  .skills .sm_box h3{
    text-align: center;
    font-family: istok;
    font-size: 20px;
    margin: 5px 0;
    font-weight: 800;
  }

  .skills .sm_box p{
    text-align: center;
    font-family: istok;
    font-size: 15px;
    color: rgb(0,0,0,0.65);

  }



  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  .r_complete  h3 ,
  .r_template h3 {
    animation: counter 5s forwards ;
    counter-reset: num var(--num);

  }
  .r_complete  h3::before ,
  .r_template h3::before {
    content: counter(num);
  }

  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 20;
    }
  }



  /* Exprience */

  .experience{
    background-image: url("../../../assets/img/experience/background_expe.png");
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 80px;
    margin-bottom: 80px;
  }
  .experience .high_text h1{
    font-family: istok;
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 800;
  }










  /* timeline */

  .experience .timeline .left_container{
    left: 0%;
  }
  .experience .timeline .right_container{
    left: 50%;
  }


  .experience .timeline .container{
    margin: 0;
    position: relative;
    width: 50%;
    padding: 10px 50px;
    /* animation: movedown 1s linear forwards; */
    /* z-index: 9999; */
    /* opacity: 0; */
  }
  /* @keyframes movedown {
    0%{
      opacity: 1;

    }
    100%{
      opacity: 1;

    }
  } */










  /* logo */
  .logo1_ani{
    opacity: 0;
    animation: logo1 1s forwards;
    animation-delay: 0s;
  }

  @keyframes logo1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .timeline .container:nth-child(2) .logo{
    opacity: 0;
  }

  .logo2_ani{
    animation: logo2 1s forwards;
    animation-delay: 1s;
  }

  @keyframes logo2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


  .timeline .container:nth-child(3) .logo{
    opacity: 0;
  }

  .logo3_ani{
    animation: logo3 1s forwards;
    animation-delay: 2.25s;
  }

  @keyframes logo3 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /* .................................... */


  .timeline .container:nth-child(1) .anima1{
    opacity: 0;
  }
  .anima1_run{
    animation: anima1 1s linear forwards;
    animation-delay: 0.5s;
  }

  @keyframes anima1 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }

  .timeline .container:nth-child(2) .anima2{
    opacity: 0;
  }
  .anima2_run{
    animation: anima2 1s linear forwards;
    animation-delay: 1.5s;
  }

  @keyframes anima2 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }


  .timeline .container:nth-child(3) .anima3{
    opacity: 0;
  }
  .anima3_run{
    animation: anima3 1s linear forwards;
    animation-delay: 2.5s;
  }

  @keyframes anima3 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }


  /* .timeline .container:nth-child(3){
    animation-delay: 2s;
  }

  /* ................................ */


  .experience .timeline .text_box_left .logo{
    position: absolute;
    left: 97%;
    top: 7%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 5px 5px 3px 5px;
    z-index: 999;
  }


  .experience .timeline .text_box_right .logo{
    position: absolute;
    left: -3%;
    top: 7%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 5px 5px 3px 5px;
    z-index: 999;
  }
  .experience .timeline img{

    height: 100%;
    width: auto;
  }


  .experience .timeline .left_container{

    position: relative;
  }
  .experience .timeline .left_container:before{
    position: absolute;
    left: 109%;
    top: 0;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 7px;
  }

  /*
  .timeline .right_container:first-child::before{
    position: absolute;
    height: 65%;
    width: 5px;
    top: 42%;
    left: 0;

    content: "";
    background-color: white;
  }
  .timeline .left_container::after{
    position: absolute;
    height: 78%;
    width: 5px;
    top: 28%;
    right: -5px;
    content: "";
    background-color: white;
  } */




  .experience .text_box_right h3,
  .experience .text_box_left h3{
    font-weight: 800;
    font-size: 24px;
    font-family: istok;
  }
  .experience .text_box_right span,
  .experience .text_box_left span{
    color:#C94440;
  }
  .experience .text_box_right p:first-of-type,
  .experience .text_box_left p:first-of-type{
    font-size: 15px;
    color: rgb(0,0,0,0.55);
    margin: 10px 0;
    font-family: istok;
  }
  .experience .text_box_right p:last-of-type,
  .experience .text_box_left p:last-of-type{
    font-size: 15px;
    color: rgb(0,0,0);
    font-family: istok;
  }


  .experience .timeline .anima1,
  .experience .timeline .anima2,
  .experience .timeline .anima3{
    position: relative;
    background-color: white;
    padding: 24px;
    box-shadow: 6px 5px 0px 0px black;
    border-radius: 10px;

  }


  .experience .left_arrow{
    height: 0;
    width: 0px;
    position: absolute;
    top: 7%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -14px;
  }




  .experience .left_arrow_b{
    height: 0;
    width: 0px;
    position: absolute;
    top: 10%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    right: -15px;

  }

  .experience .right_arrow{
    height: 0;
    width: 0px;
    position: absolute;
    top: 7%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    transform: rotate(180deg);
    left: -13px;
  }




  .experience .right_arrow_b{
    height: 0;
    width: 0px;
    position: absolute;
    top: 9%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    transform: rotate(180deg);
    left: -14px;

  }


  .experience .timeline_ani::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 70%;
    top: 5%;
    background-color: white;
    left: 50%;
    margin-left: 0;
    z-index: 1;
    animation: movee 2.5s linear forwards;
  }



  @keyframes movee {
    0%{
      height: 0;
    }
    100%{
      height: 70%;
    }
  }

  /* education */

  .education .hight_textt h1{
    font-family: istok;
    font-size: 80px;
    text-align: center;
    margin: 120px 0 70px 0;
    font-weight: 800;
  }

  .edu_content{

    margin: 30px 0 100px 0;

  }
  .education .content{
    position: absolute;
    left: 0;
    width: 45%;
    transform: translateX(60%);

    /* background-color: green; */

  }
  .education .content h3{
    font-family: istok;
    font-size: 24px;
    font-weight: 800;

  }
  .education .content p:first-of-type{
    font-family: istok;
    font-size: 16px;
    color: rgb(0, 0, 0,0.5);

  }
  .education .content p:last-of-type{
    font-family: istok;
    font-size: 16px;
  }


  .edu_content{
    position: relative;
  }

  .edu_ani::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 85%;
    top: 0;
    background-color: black;
    left: 14%;
    z-index: -2;
    animation: moveline 3s linear forwards;
  }



  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 85%;
    }
  }

  .edu_content .small_content{
    margin: 40px 0;
  }

  .edu_content  .content{
    position: relative;

  }

  .content .anh{
    position: absolute;
    padding: 17px;
    left: -32%;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    /* transform: translateX(-50%); */
  }

  .content .anh::after{
    content: "";
    position: absolute;
    padding: 10px;
    left: -8%;
    top: -2px;
    background-color: #C94440;
    border-radius: 50%;
    /* border: 3px solid black; */
    transform: translate(50%,50%);
  }



  .content:nth-child(1) .anh,
  .content:nth-child(1) .nutdo{
    opacity: 0;
  }

  .nutdo1_ani{
    animation: nutdo1 0s linear forwards;
  }

  @keyframes nutdo1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .content:nth-child(2) .anh,
  .content:nth-child(2) .nutdo{
    opacity: 0;
  }

  .nutdo2_ani{
    animation: nutdo2 0.2s linear forwards;
  }

  @keyframes nutdo2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


  .content:nth-child(3) .anh,
  .content:nth-child(3) .nutdo{
    opacity: 0;
  }

  .nutdo3_ani{
    animation: nutdo3 0.2s linear forwards;
  }

  @keyframes nutdo3 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .content:nth-child(4) .anh,
  .content:nth-child(4) .nutdo{
    opacity: 0;
  }

  .nutdo4_ani{
    animation: nutdo4 0.2s linear forwards;
  }

  @keyframes nutdo4 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .content:nth-child(1) .anh,
  .content:nth-child(1) .nutdo{
    animation-delay: 0s;
  }
  .content:nth-child(2) .anh,
  .content:nth-child(2) .nutdo{
    animation-delay: 1s;
  }
  .content:nth-child(3) .anh,
  .content:nth-child(3) .nutdo{
    animation-delay: 2s;
  }
  .content:nth-child(4) .anh,
  .content:nth-child(4) .nutdo{
    animation-delay: 3s;
  }



  .content:nth-child(1) .small_content{
    opacity: 0;
  }

  .small1_ani{
    animation: small1 1s linear forwards;
    animation-delay: 0s;
  }

  @keyframes small1 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content:nth-child(2) .small_content{
    opacity: 0;
  }

  .small2_ani{
    animation: small2 1s linear forwards;
    animation-delay: 1s;
  }

  @keyframes small2 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }


  .content:nth-child(3) .small_content{
    opacity: 0;
  }

  .small3_ani{
    animation: small3 1s linear forwards;
    animation-delay: 2s;
  }

  @keyframes small3 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content:nth-child(4) .small_content{
    opacity: 0;
  }

  .small4_ani{
    animation: small4 1s linear forwards;
    animation-delay: 3s;
  }

  @keyframes small4 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  /*  */

  /* logo */
  .logo1_ani_MB{
    opacity: 0;
    animation: logo1 1s forwards;
    animation-delay: 0s;
  }

  @keyframes logo1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .timeline_MB .container:nth-child(2) .logo_MB{
    opacity: 0;
  }

  .logo2_ani_MB{
    animation: logo2 1s forwards;
    animation-delay: 1s;
  }

  @keyframes logo2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


  .timeline_MB .container:nth-child(3) .logo_MB{
    opacity: 0;
  }

  .logo3_ani_MB{
    animation: logo3 1s forwards;
    animation-delay: 2.25s;
  }

  @keyframes logo3 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /* .................................... */


  .timeline_MB .container:nth-child(1) .anima1_MB{
    opacity: 0;
  }
  .anima1_run_MB{
    animation: anima1 1s linear forwards;
    animation-delay: 0.5s;
  }

  @keyframes anima1 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }

  .timeline_MB .container:nth-child(2) .anima2_MB{
    opacity: 0;
  }
  .anima2_run_MB{
    animation: anima2 1s linear forwards;
    animation-delay: 1.5s;
  }

  @keyframes anima2 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }


  .timeline_MB .container:nth-child(3) .anima3_MB{
    opacity: 0;
  }
  .anima3_run_MB{
    animation: anima3 1s linear forwards;
    animation-delay: 2.5s;
  }

  @keyframes anima3 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }









}


































@media only screen and (min-width: 600px) and (max-width: 1024px){
  .about_PC{
    display: none;
  }
  .about_TABLET{
    display: none;
  }
  .biography{
    margin-top: 72px;
  }


  .about_MB .biography .hight_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    margin: 10% auto;
    font-weight: 800;
  }

  .about_MB .left h3{
    color: #515151;
    font-size: 12px;
    font-weight: 600;
    font-family: istok;
    margin-bottom: 5%;
  }
  /* mid */

  .about_MB .mid{
    padding: 30px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    box-shadow: 10px 10px 0px 0px black;
    margin-bottom: 10%;
  }
  .mid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
  }
  .mid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
   .left h3{
    color: #515151;
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
    margin-bottom: 16px;
  }
  .left span{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
  }
  .left p{
    /* padding-right: 40px; */
    color: var(--black-color);
    font-size: 16px;
    font-family: istok;
    margin-bottom: 25px;
    justify-content: center;
    text-align: justify;
  }




  .right h3{
    font-weight: 800;
    font-size: 30px;
    font-family: istok;
    text-align: center;
  }

  .right p{
    font-weight: 800;
    font-size: 20px;
    font-family: istok;
    text-align: center;
  }




  .hight_text h1{
    animation: fadeIn 1.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .animation {
    animation: fadeIn 1s ease-in-out;
  }
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  .r_complete  h3 ,
  .r_template h3 {
    animation: counter 5s forwards ;
    counter-reset: num var(--num);

  }
  .r_complete  h3::before ,
  .r_template h3::before {
    content: counter(num);
  }

  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 20;
    }
  }
  /* SKILLS */

  .skills{
    margin: 20% 0 20% 0;
  }
  .skills .high_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
  }

  .skills .high_text p{
    color: var(--black-color);
    font-size: 16px;
    font-family: istok;
    margin: 48px 0 24px 0;
    text-align: center;
  }

  .skills .high_text span{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
  }


  .skills .sm_box{
    padding: 25px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 7px 0px 0px black;
    margin: 20px;

  }

  .skills .sm_box img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 45px;
    width: 45px;
  }

  .skills .sm_box h3{
    text-align: center;
    font-family: istok;
    font-size: 18px;
    margin: 5px 0;
    font-weight: 800;
  }

  .skills .sm_box p{
    text-align: center;
    font-family: istok;
    font-size: 16px;
    color: rgb(0,0,0,0.65);

  }



  /* Exprience */

  .about_MB .experience{
    background-image: url("../../../assets/img/experience/background_expe.png");
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;

  }
  .about_MB .experience .high_text{
    padding: 5% 0;
  }
  .about_MB .experience .high_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60;
    font-weight: 800;
  }


  .about_MB .timeline_MB::before{
    position: absolute;
    content: "";
    background-color: var(--white-color);
    height: 70%;
    width: 8px;
    left: 10%;
    top: 5%;
    transform: translateX(-68%);
    animation: moveline1 3s linear forwards;
  }





  .about_MB .timeline_MB .right_container_MB{
    margin-bottom: 5%;
    position: relative;
    left: 2px;
    transform: translateX(5%);
  }

  .about_MB .anima1_MB,
  .about_MB .anima2_MB,
  .about_MB .anima3_MB{
    position: relative;
    background-color: white;
    padding: 10px;
    box-shadow: 6px 5px 0px 0px black;
    border-radius: 10px;
  }


  .about_MB .anima1_MB h3,
  .about_MB .anima2_MB h3,
  .about_MB .anima3_MB h3{
    font-weight: 800;
    font-size: 20px;
    font-family: istok;
  }
  .about_MB .anima1_MB span,
  .about_MB .anima2_MB span,
  .about_MB .anima3_MB span{
    color: #C94440;
  }
  .about_MB .anima1_MB p:first-of-type,
  .about_MB .anima2_MB p:first-of-type,
  .about_MB .anima3_MB p:first-of-type{
    font-size: 15px;
    color: rgb(0,0,0,0.55);
    margin: 6px 0;
    font-family: istok;
  }
  .about_MB .anima1_MB p:last-of-type,
  .about_MB .anima2_MB p:last-of-type,
  .about_MB .anima3_MB p:last-of-type{
    font-size: 15px;
    color: rgb(0,0,0);
    font-family: istok;
  }


  .about_MB .right_container_MB .arrow_b{
    height: 0;
    width: 0px;
    position: absolute;
    top: 9%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    transform: rotate(180deg);
    left: -14px;

  }

  .about_MB .right_container_MB .arrow{
    height: 0;
    width: 0px;
    position: absolute;
    top: 7%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    transform: rotate(180deg);
    left: -13px;
  }


  .about_MB .text_box_right_MB .logo_MB{
    position: absolute;
    left: -15%;
    top: 7%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 6px 8px 4px 8px;
    /* z-index: 999; */
    transform: translateX(-50%);

  }
  .about_MB .text_box_right_MB .logo_MB img{

    height: 100%;
    width: auto;
  }
  .about_MB .timeline_MB .container{
    width: 70%;
    padding: 10px;
  }



  .timeline_MB .container:nth-child(1) .anima1_MB{
    animation: anima1 1s linear forwards;
    opacity: 0;
  }

  @keyframes anima1 {
  0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }
  .timeline_MB .container:nth-child(2) .anima2_MB{
    animation: anima2 1s linear forwards;
    opacity: 0;
  }


  @keyframes anima2 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }




  .timeline_MB .container:nth-child(3) .anima3_MB{
    animation: anima3 1s linear forwards;
    opacity: 0;
  }


  @keyframes anima3 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }




  .timeline_MB .container:nth-child(1) .anima1_MB{
    animation-delay: 0.5s;
  }
  .timeline_MB .container:nth-child(2) .anima2_MB{
    animation-delay: 1.5s;
  }
  .timeline_MB .container:nth-child(3) .anima3_MB{
    animation-delay: 2.5s;
  }





  /*  */

  /* education */
  .education .hight_textt{
    padding: 5% 0;
  }
  .education .hight_textt h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;

    font-weight: 800;
  }


  .education .content_MB{
    position: absolute;
    left: 0;
    width: 60%;
    transform: translateX(50%);

    /* background-color: green; */

  }
  .education .content_MB h3{
    font-family: istok;
    font-size: 24px;
    font-weight: 800;

  }
  .education .content_MB p:first-of-type{
    font-family: istok;
    font-size: 16px;
    color: rgb(0, 0, 0,0.5);

  }
  .education .content_MB p:last-of-type{
    font-family: istok;
    font-size: 16px;
  }


  .edu_content_MB{
    position: relative;
  }

  .edu_ani_MB::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 85%;
    top: 0;
    background-color: black;
    left: 14%;
    z-index: -2;
    animation: moveline 3s linear forwards;
  }



  @keyframes moveline1 {
    0%{
      height: 0;
    }
    100%{
      height: 68%;
    }
  }

  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 82%;
    }
  }

  .edu_content_MB .small_content_MB{
    margin: 40px 0;
  }

  .edu_content_MB  .content_MB{
    position: relative;

  }

  /* .content_MB .anh_MB{
    position: absolute;
    padding: 17px;
    left: -26%;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    transform: translateX(-50%);
  }
  .content_MB .nutdo_MB{
    position: absolute;
    padding: 9px;
    left: -30%;
    top: 10%;
    background-color: #C94440;
    border-radius: 50%;
    transform: translateX(35%);

  } */

  .content_MB .anh_MB{
    position: absolute;
    padding: 17px;
    left: -26%;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    transform: translateX(-50%);
  }

  .content_MB .anh_MB::after{
    content: "";
    position: absolute;
    padding: 10px;
    left: -8%;
    top: -2px;
    background-color: #C94440;
    border-radius: 50%;
    /* border: 3px solid black; */
    transform: translate(50%,50%);
  }

  .content_MB:nth-child(1) .anh_MB,
  .content_MB:nth-child(1) .nutdo_MB,
  .content_MB:nth-child(2) .anh_MB,
  .content_MB:nth-child(2) .nutdo_MB,
  .content_MB:nth-child(3) .anh_MB,
  .content_MB:nth-child(3) .nutdo_MB,
  .content_MB:nth-child(4) .anh_MB,
  .content_MB:nth-child(4) .nutdo_MB{
    opacity: 0;
  }


  .nutdo1_ani_MB{
    animation: nutdo1 0s linear forwards;
  }

  @keyframes nutdo1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo2_ani_MB{
    animation: nutdo2 0.2s linear forwards;
  }

  @keyframes nutdo2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo3_ani_MB{
    animation: nutdo3 0.2s linear forwards;
  }

  @keyframes nutdo3 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo4_ani_MB{
    animation: nutdo4 0.2s linear forwards;
  }

  @keyframes nutdo4 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .content_MB:nth-child(1) .anh_MB,
  .content_MB:nth-child(1) .nutdo_MB{
    animation-delay: 0s;
  }
  .content_MB:nth-child(2) .anh_MB,
  .content_MB:nth-child(2) .nutdo_MB{
    animation-delay: 1s;
  }
  .content_MB:nth-child(3) .anh_MB,
  .content_MB:nth-child(3) .nutdo_MB{
    animation-delay: 2s;
  }
  .content_MB:nth-child(4) .anh_MB,
  .content_MB:nth-child(4) .nutdo_MB{
    animation-delay: 3s;
  }



  .content_MB:nth-child(1) .small_content_MB{
    opacity: 0;
  }

  .small1_ani_MB{
    animation: small1 1s linear forwards;
    animation-delay: 0s;
  }

  @keyframes small1 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content_MB:nth-child(2) .small_content_MB{
    opacity: 0;
  }

  .small2_ani_MB{
    animation: small2 1s linear forwards;
    animation-delay: 1s;
  }

  @keyframes small2 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }


  .content_MB:nth-child(3) .small_content_MB{
    opacity: 0;
  }

  .small3_ani_MB{
    animation: small3 1s linear forwards;
    animation-delay: 2s;
  }

  @keyframes small3 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content_MB:nth-child(4) .small_content_MB{
    opacity: 0;
  }

  .small4_ani_MB{
    animation: small4 1s linear forwards;
    animation-delay: 3s;
  }

  @keyframes small4 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }



}










































@media only screen and (max-width: 599px) {
  .about_MB{
    display: none;
  }
  .about_PC{
    display: none;
  }

  .biography{
    margin-top: 72px;
  }


  .about_TABLET .biography .hight_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    margin: 10% auto;
    font-weight: 800;
  }

  .about_TABLET .left h3{
    color: #515151;
    font-size: 12px;
    font-weight: 600;
    font-family: istok;
    margin-bottom: 5%;
  }
  /* mid */

  .about_TABLET .mid{
    padding: 30px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    box-shadow: 10px 10px 0px 0px black;
    margin-bottom: 10%;
  }
  .mid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
  }
  .mid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
   .left h3{
    color: #515151;
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
    margin-bottom: 16px;
  }
  .left span{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
  }
  .left p{
    /* padding-right: 40px; */
    color: var(--black-color);
    font-size: 16px;
    font-family: istok;
    margin-bottom: 25px;
    justify-content: center;
    text-align: justify;
  }




  .right h3{
    font-weight: 800;
    font-size: 30px;
    font-family: istok;
    text-align: center;
  }

  .right p{
    font-weight: 800;
    font-size: 20px;
    font-family: istok;
    text-align: center;
  }


  /* .right{
    display: inline-block;
    width: 100%;
  } */



  .hight_text h1{
    animation: fadeIn 1.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .animation {
    animation: fadeIn 1s ease-in-out;
  }
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  .r_complete  h3 ,
  .r_template h3 {
    animation: counter 5s forwards ;
    counter-reset: num var(--num);

  }
  .r_complete  h3::before ,
  .r_template h3::before {
    content: counter(num);
  }

  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 20;
    }
  }
  /* SKILLS */

  .skills{
    margin: 20% 0 20% 0;
  }
  .skills .high_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
  }

  .skills .high_text p{
    color: var(--black-color);
    font-size: 16px;
    font-family: istok;
    margin: 48px 0 24px 0;
    text-align: center;
  }

  .skills .high_text span{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    font-family: istok;
  }


  .skills .sm_box{
    padding: 25px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 7px 0px 0px black;
    margin: 20px;

  }

  .skills .sm_box img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 45px;
    width: 45px;
  }

  .skills .sm_box h3{
    text-align: center;
    font-family: istok;
    font-size: 18px;
    margin: 5px 0;
    font-weight: 800;
  }

  .skills .sm_box p{
    text-align: center;
    font-family: istok;
    font-size: 16px;
    color: rgb(0,0,0,0.65);

  }



  /* Exprience */

  .about_TABLET .experience{
    background-image: url("../../../assets/img/experience/background_expe.png");
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;

  }

  .about_TABLET .experience .high_text h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60;
    font-weight: 800;
  }


  .about_TABLET .timeline_TABLET::before{
    position: absolute;
    content: "";
    background-color: white;
    height: 70px;
    width: 9px;
    left: 15%;
    top: 3%;
    transform: translateX(-40%);
    animation: moveline1 3s linear forwards;
  }

  @keyframes moveline{
    0%{
      height: 0%;
    }100%{
      height: 50%;
    }
  }



  .about_TABLET .timeline_TABLET .right_container_TABLET{
    margin-bottom: 5%;
    position: relative;
    left: 0%;
    transform: translateX(5%);
  }

  .about_TABLET .anima1_TABLET,
  .about_TABLET .anima2_TABLET,
  .about_TABLET .anima3_TABLET{
    position: relative;
    background-color: white;
    padding: 10px;
    box-shadow: 6px 5px 0px 0px black;
    border-radius: 10px;
  }


  .about_TABLET .anima1_TABLET h3,
  .about_TABLET .anima2_TABLET h3,
  .about_TABLET .anima3_TABLET h3{
    font-weight: 800;
    font-size: 20px;
    font-family: istok;
  }
  .about_TABLET .anima1_TABLET span,
  .about_TABLET .anima2_TABLET span,
  .about_TABLET .anima3_TABLET span{
    color: #C94440;
  }
  .about_TABLET .anima1_TABLET p:first-of-type,
  .about_TABLET .anima2_TABLET p:first-of-type,
  .about_TABLET .anima3_TABLET p:first-of-type{
    font-size: 12px;
    color: rgb(0,0,0,0.55);
    margin: 6px 0;
    font-family: istok;
  }
  .about_TABLET .anima1_TABLET p:last-of-type,
  .about_TABLET .anima2_TABLET p:last-of-type,
  .about_TABLET .anima3_TABLET p:last-of-type{
    font-size: 15px;
    color: rgb(0,0,0);
    font-family: istok;
  }


  .about_TABLET .right_container_TABLET .arrow_b{
    height: 0;
    width: 0px;
    position: absolute;
    top: 9%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    transform: rotate(180deg);
    left: -14px;

  }

  .about_TABLET .right_container_TABLET .arrow{
    height: 0;
    width: 0px;
    position: absolute;
    top: 7%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    transform: rotate(180deg);
    left: -13px;
  }


  .about_TABLET .text_box_right_TABLET .logo_TABLET{
    position: absolute;
    left: -15%;
    top: 7%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 5px 5px 3px 5px;
    z-index: 999;
    transform: translateX(-45%);

  }
  .about_TABLET .text_box_right_TABLET .logo_TABLET img{

    height: 100%;
    width: auto;
  }
  .about_TABLET .timeline_TABLET .container{
    width: 60%;
    padding: 10px;
  }



  .about_TABLET .text_box_right_TABLET .logo_TABLET{
    position: absolute;
    left: -16%;
    top: 7%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 0px 0px black;
    padding: 5px 8px 5px 8px;
    z-index: 999;
    transform: translateX(-50%);

  }



  .timeline_TABLET .container:nth-child(1) .anima1_TABLET{
    opacity: 0;
  }

  .anima1_run_TABLET{
    animation: anima1 1s linear forwards;
  }


  @keyframes anima1 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }
  .timeline_TABLET .container:nth-child(2) .anima2_TABLET{
    opacity: 0;
  }

  .anima2_run_TABLET{
    animation: anima2 1s linear forwards;
  }


  @keyframes anima2 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }




  .timeline_TABLET .container:nth-child(3) .anima3_TABLET{
    opacity: 0;
  }

  .anima3_run_TABLET{
    animation: anima3 1s linear forwards;
  }


  @keyframes anima3 {
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(10px);
    }
  }




  .timeline_TABLET .container:nth-child(1) .anima1_TABLET{
    animation-delay: 0.5s;
  }
  .timeline_TABLET .container:nth-child(2) .anima2_TABLET{
    animation-delay: 1.5s;
  }
  .timeline_TABLET .container:nth-child(3) .anima3_TABLET{
    animation-delay: 2.5s;
  }

/*  */




















  /* education */
  .education .hight_textt{
    padding: 5% 0;
  }
  .education .hight_textt h1{
    font-family: istok;
    font-size: 60px;
    text-align: center;

    font-weight: 800;
  }


  .education .content_TABLET{
    position: absolute;
    left: 0;
    width: 60%;
    transform: translateX(50%);

    /* background-color: green; */

  }
  .education .content_TABLET h3{
    font-family: istok;
    font-size: 24px;
    font-weight: 800;

  }
  .education .content_TABLET p:first-of-type{
    font-family: istok;
    font-size: 16px;
    color: rgb(0, 0, 0,0.5);

  }
  .education .content_TABLET p:last-of-type{
    font-family: istok;
    font-size: 16px;
  }


  .edu_content_TABLET{
    position: relative;
  }

  .edu_ani_TABLET::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 85%;
    top: 30px;
    background-color: black;
    left: 14%;
    z-index: -2;
    animation: moveline 3s linear forwards;
  }

  @keyframes moveline1 {
    0%{
      height: 0;
    }
    100%{
      height: 70%;
    }
  }

  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 77%;
    }
  }

  .edu_content_TABLET .small_content_TABLET{
    margin: 40px 0;
  }

  .edu_content_TABLET  .content_TABLET{
    position: relative;

  }

  /* .content_TABLET .anh_TABLET{
    position: absolute;
    padding: 17px;
    left: -26%;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    transform: translateX(-50%);
  }
  .content_TABLET .nutdo_TABLET{
    position: absolute;
    padding: 9px;
    left: -30%;
    top: 10%;
    background-color: #C94440;
    border-radius: 50%;
    transform: translateX(35%);

  } */

  .content_TABLET .anh_TABLET{
    position: absolute;
    padding: 17px;
    left: -26%;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    transform: translateX(-50%);
  }

  .content_TABLET .anh_TABLET::after{
    content: "";
    position: absolute;
    padding: 10px;
    left: -8%;
    top: -2px;
    background-color: #C94440;
    border-radius: 50%;
    /* border: 3px solid black; */
    transform: translate(50%,50%);
  }

  .content_TABLET:nth-child(1) .anh_TABLET,
  .content_TABLET:nth-child(1) .nutdo_TABLET,
  .content_TABLET:nth-child(2) .anh_TABLET,
  .content_TABLET:nth-child(2) .nutdo_TABLET,
  .content_TABLET:nth-child(3) .anh_TABLET,
  .content_TABLET:nth-child(3) .nutdo_TABLET,
  .content_TABLET:nth-child(4) .anh_TABLET,
  .content_TABLET:nth-child(4) .nutdo_TABLET{
    opacity: 0;
  }


  .nutdo1_ani_TABLET{
    animation: nutdo1 0s linear forwards;
  }

  @keyframes nutdo1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo2_ani_TABLET{
    animation: nutdo2 0.2s linear forwards;
  }

  @keyframes nutdo2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo3_ani_TABLET{
    animation: nutdo3 0.2s linear forwards;
  }

  @keyframes nutdo3 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .nutdo4_ani_TABLET{
    animation: nutdo4 0.2s linear forwards;
  }

  @keyframes nutdo4 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }



  .content_TABLET:nth-child(1) .anh_TABLET,
  .content_TABLET:nth-child(1) .nutdo_TABLET{
    animation-delay: 0s;
  }
  .content_TABLET:nth-child(2) .anh_TABLET,
  .content_TABLET:nth-child(2) .nutdo_TABLET{
    animation-delay: 1s;
  }
  .content_TABLET:nth-child(3) .anh_TABLET,
  .content_TABLET:nth-child(3) .nutdo_TABLET{
    animation-delay: 2s;
  }
  .content_TABLET:nth-child(4) .anh_TABLET,
  .content_TABLET:nth-child(4) .nutdo_TABLET{
    animation-delay: 3s;
  }



  .content_TABLET:nth-child(1) .small_content_TABLET{
    opacity: 0;
  }

  .small1_ani_TABLET{
    animation: small1 1s linear forwards;
    animation-delay: 0s;
  }

  @keyframes small1 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content_TABLET:nth-child(2) .small_content_TABLET{
    opacity: 0;
  }

  .small2_ani_TABLET{
    animation: small2 1s linear forwards;
    animation-delay: 1s;
  }

  @keyframes small2 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }


  .content_TABLET:nth-child(3) .small_content_TABLET{
    opacity: 0;
  }

  .small3_ani_TABLET{
    animation: small3 1s linear forwards;
    animation-delay: 2s;
  }

  @keyframes small3 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }

  .content_TABLET:nth-child(4) .small_content_TABLET{
    opacity: 0;
  }

  .small4_ani_TABLET{
    animation: small4 1s linear forwards;
    animation-delay: 3s;
  }

  @keyframes small4 {
    0%{
      opacity: 0;
      transform: translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(-10px);
    }
  }






}
