<div class="biography">
  <div class="container">
    <div class="col-12">
      <div class="hight_text">
        <h1 animation>Passion Fuels Purpose!</h1>
      </div>
    </div>

    <div class="col-12">
      <div class="bio_infor">
        <div class="col-4">
          <div class="left">
            <h3>BIOGRAPHY</h3>
            <p>Hi, I'm <span>Thanh Nguyen</span>, a web developer and UI/UX designer with a passion for creating beautiful, functional, and user-centered digital experiences. With 1.5 years of experience in the field. I am always looking for new and innovative ways to bring my clients' visions to life.</p>
            <p>I believe that design is about more than just making things look pretty – it's about solving problems and creating intuitive, enjoyable experiences for users.</p>
            <p>Whether I'm working on a website, mobile app, or other digital product, I bring my commitment to design excellence and user-centered thinking to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="mid">
            <img src="../../../assets/img/img_about.png" alt="">
          </div>
        </div>
        <div class="col-4">
          <div class="right">

            <div class="r_template">
                <h3>+</h3>
                <p>Template</p>
            </div>



            <div class="r_complete">
              <h3>+</h3>
              <p>Project Complete</p>
            </div>



            <div class="r_experience">
              <h3>1.5</h3>
              <p>Years Of Exprience</p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="high_text">
          <h1>Skills</h1>
          <p>All the skills I currently possess and listed below are at the fundamental level, <span>except for UI/UX design skills</span>. The remaining skills I am learning to enhance my product's visual design capabilities.</p>
        </div>
      </div>

      <div class="col-12">
        <div class="top">
          <div class="row">
            <div class="col sm_box">
              <img src="../../../assets/img/skills/design.png" alt="">
              <h3>UI/UX Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="col sm_box">
              <img src="../../../assets/img/skills/graphic.png" alt="">
              <h3>Graphic</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="col sm_box">
              <img src="../../../assets/img/skills/develop.png" alt="">
              <h3>Develop</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bottom">
          <div class="row">
            <div class="col sm_box">
              <img src="../../../assets/img/skills/3D.png" alt="">
              <h3>3D Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="col sm_box">
              <img src="../../../assets/img/skills/animation.png" alt="">
              <h3>Animation</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="col sm_box">
              <img src="../../../assets/img/skills/freelance.png" alt="">
              <h3>Freelance</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="experience">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="high_text">
          <h1>Exprience</h1>
        </div>
      </div>

      <div class="col-12">
        <div class="timeline">






          <div class="container right_container">

            <div class="text_box_right">
              <div class="logo1">
                <img src="../../../assets/img/experience/top.png" alt="">
              </div>
              <div class="anima1" id="anima1">
                <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                <p>2021 - 2022 | Techmaster</p>
                <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                <span class="right_arrow_b"></span>
                <span class="right_arrow"></span>
              </div>
            </div>
          </div>


          <div class="container left_container">

            <div class="text_box_left">
              <div class="logo2">
                <img src="../../../assets/img/experience/mid.png" alt="">
              </div>
              <div class="anima2" id="anima2">
                <h3>Intern <span>@Soosky LLC</span></h3>
                <p>2021 - 2024 | Massachusetts Institute Of Technology (MIT)</p>
                <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
                <span class="left_arrow_b"></span>
                <span class="left_arrow"></span>
              </div>

            </div>
          </div>


          <div class="container right_container">
            <div class="text_box_right">
              <div class="logo3">
                <img src="../../../assets/img/experience/bottom.png" alt="">
              </div>
              <div class="anima3" id="anima3">
                <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                <p>2021 - 2022 | Techmaster</p>
                <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                <span class="right_arrow_b"></span>
                <span class="right_arrow"></span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

