<section class="about_PC">
  <div class="biography">
    <div class="container">
      <div class="col-12">
        <div class="hight_text">
          <h1 animation>Passion Fuels Purpose!</h1>
        </div>
      </div>

      <div class="col-12">
        <div class="bio_infor">
          <div class="col-4">
            <div class="left">
              <h3>BIOGRAPHY</h3>
              <p>Hi, I'm <span>Thanh Nguyen</span>, a web developer and UI/UX designer with a passion for creating beautiful, functional, and user-centered digital experiences. With 1.5 years of experience in the field. I am always looking for new and innovative ways to bring my clients' visions to life.</p>
              <p>I believe that design is about more than just making things look pretty – it's about solving problems and creating intuitive, enjoyable experiences for users.</p>
              <p>Whether I'm working on a website, mobile app, or other digital product, I bring my commitment to design excellence and user-centered thinking to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.</p>
            </div>
          </div>
          <div class="col-4">
            <div class="mid">
              <img src="../../../assets/img/img_about.png" alt="">
            </div>
          </div>
          <div class="col-4">
            <div class="right">

              <div class="r_template">
                  <h3>+</h3>
                  <p>Template</p>
              </div>



              <div class="r_complete">
                <h3>+</h3>
                <p>Project Complete</p>
              </div>



              <div class="r_experience">
                <h3>1.5</h3>
                <p>Years Of Exprience</p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="skills">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Skills</h1>
            <p>All the skills I currently possess and listed below are at the fundamental level, <span>except for UI/UX design skills</span>. The remaining skills I am learning to enhance my product's visual design capabilities.</p>
          </div>
        </div>

        <div class="col-12">
          <div class="top">
            <div class="row">
              <div class="col sm_box">
                <img src="../../../assets/img/skills/design.png" alt="">
                <h3>UI/UX Design</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>

              <div class="col sm_box">
                <img src="../../../assets/img/skills/graphic.png" alt="">
                <h3>Graphic</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>

              <div class="col sm_box">
                <img src="../../../assets/img/skills/develop.png" alt="">
                <h3>Develop</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="bottom">
            <div class="row">
              <div class="col sm_box">
                <img src="../../../assets/img/skills/3D.png" alt="">
                <h3>3D Design</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>

              <div class="col sm_box">
                <img src="../../../assets/img/skills/animation.png" alt="">
                <h3>Animation</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>

              <div class="col sm_box">
                <img src="../../../assets/img/skills/freelance.png" alt="">
                <h3>Freelance</h3>
                <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="experience">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Exprience</h1>
          </div>
        </div>

        <div class="col-12" id="ani">
          <div class="timeline" id="timeline">


            <div class="container right_container">

              <div class="text_box_right">
                <div class="logo" id="logo1">
                  <img src="../../../assets/img/experience/top.png" alt="">
                </div>
                <div class="anima1" id="anima1">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="right_arrow_b"></span>
                  <span class="right_arrow"></span>
                </div>
              </div>
            </div>


            <div class="container left_container">

              <div class="text_box_left">
                <div class="logo" id="logo2">
                  <img src="../../../assets/img/experience/mid.png" alt="">
                </div>
                <div class="anima2" id="anima2">
                  <h3>Intern <span>@Soosky LLC</span></h3>
                  <p>2021 - 2024 | Massachusetts Institute Of Technology (MIT)</p>
                  <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
                  <span class="left_arrow_b"></span>
                  <span class="left_arrow"></span>
                </div>

              </div>
            </div>


            <div class="container right_container">
              <div class="text_box_right">
                <div class="logo" id="logo3">
                  <img src="../../../assets/img/experience/bottom.png" alt="">
                </div>
                <div class="anima3" id="anima3">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="right_arrow_b"></span>
                  <span class="right_arrow"></span>
                </div>
              </div>
            </div>


          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="education">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hight_textt">
            <h1>Education</h1>
          </div>
        </div>
        <div class="col-12 eduuuuu">
          <div class="edu_content" id="edu">

            <div class="content" id="content1">
              <div class="nut_left">
                <div class="anh" id="anh1"></div>
                <div class="nutdo" id="nutdo1"></div>
              </div>
              <div class="small_content" id="small_content1">
                <h3>Bachelor Of Data Science</h3>
                <p>2021 - 2024 | University Science & Technology Hanoi</p>
                <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
              </div>
            </div>


            <div class="content" id="content2">
              <div class="nut_left">
                <div class="anh" id="anh2"></div>
                <div class="nutdo" id="nutdo2"></div>
              </div>
              <div class="small_content" id="small_content2">
                <h3>IOS Courses</h3>
                <p>2021 - 2022 | Techmaster</p>
                <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
              </div>
            </div>

            <div class="content" id="content3">
              <div class="nut_left">
                <div class="anh" id="anh3"></div>
                <div class="nutdo" id="nutdo3"></div>
              </div>
              <div class="small_content" id="small_content3">
                <h3>Coaching 1-1</h3>
                <p>2022 - 2023 | Futix Lab</p>
                <p>Relevant courses included UI/UX Design, Fundamentals of graphics & real-life projects. </p>
              </div>
            </div>

            <div class="content" id="content4">
              <div class="nut_left">
                <div class="anh" id="anh4"></div>
                <div class="nutdo" id="nutdo4"></div>
              </div>
              <div class="small_content" id="small_content4">
                <h3>Online Courses</h3>
                <p>2022 - 2023 | Das, Uxcel, Skillshare</p>
                <p>Relevant courses included UX Design, Fundamentals of graphics, Development the projects. </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>






















































<!-- ABOUT - MOBILE -->
<section class="about_MB">
  <div class="biography">
    <div class="container">
      <div class="col-12">
        <div class="hight_text">
          <h1 animation>Passion Fuels Purpose!</h1>
        </div>
      </div>



        <div class="col-12">
          <div class="mid">
            <img src="../../../assets/img/img_about.png" alt="">
          </div>
        </div>
        <div class="col-12">
          <div class="left">
            <h3>BIOGRAPHY</h3>
            <p>Hi, I'm <span>Thanh Nguyen</span>, a web developer and UI/UX designer with a passion for creating beautiful, functional, and user-centered digital experiences. With 1.5 years of experience in the field. I am always looking for new and innovative ways to bring my clients' visions to life.</p>
            <p>I believe that design is about more than just making things look pretty – it's about solving problems and creating intuitive, enjoyable experiences for users.</p>
            <p>Whether I'm working on a website, mobile app, or other digital product, I bring my commitment to design excellence and user-centered thinking to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.</p>
          </div>
        </div>


        <div class="right">
          <div class="row">

            <div class="col-4">
              <div class="r_template">
                <h3>+</h3>
                <p>Template</p>
              </div>
            </div>



            <div class="col-4">
              <div class="r_complete">
                <h3>+</h3>
                <p>Project Complete</p>
              </div>
            </div>



            <div class="col-4">
              <div class="r_experience">
                <h3>1.5</h3>
                <p>Years Of Exprience</p>
              </div>

            </div>
          </div>

        </div>



    </div>
  </div>

  <div class="skills">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Skills</h1>
            <p>All the skills I currently possess and listed below are at the fundamental level, <span>except for UI/UX design skills</span>. The remaining skills I am learning to enhance my product's visual design capabilities.</p>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="sm_box">
              <img src="../../../assets/img/skills/design.png" alt="">
              <h3>UI/UX Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/graphic.png" alt="">
              <h3>Graphic</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/develop.png" alt="">
              <h3>Develop</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/3D.png" alt="">
              <h3>3D Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/animation.png" alt="">
              <h3>Animation</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>


            <div class="sm_box">
              <img src="../../../assets/img/skills/freelance.png" alt="">
              <h3>Freelance</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>



          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="experience">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Exprience</h1>
          </div>
        </div>

        <div class="col-12" id="ani">
          <div class="timeline_MB" id="timeline_MB">


            <div class="container right_container_MB">

              <div class="text_box_right_MB">
                <div class="logo_MB" id="logo1_MB">
                  <img src="../../../assets/img/experience/top.png" alt="">
                </div>
                <div class="anima1_MB" id="anima1_MB">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>
              </div>
            </div>


            <div class="container right_container_MB">

              <div class="text_box_right_MB">
                <div class="logo_MB" id="logo2_MB">
                  <img src="../../../assets/img/experience/mid.png" alt="">
                </div>
                <div class="anima2_MB" id="anima2_MB">
                  <h3>Intern <span>@Soosky LLC</span></h3>
                  <p>2021 - 2024 | Massachusetts Institute Of Technology (MIT)</p>
                  <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>

              </div>
            </div>


            <div class="container right_container_MB">
              <div class="text_box_right_MB">
                <div class="logo_MB" id="logo3_MB">
                  <img src="../../../assets/img/experience/bottom.png" alt="">
                </div>
                <div class="anima3_MB" id="anima3_MB">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>
              </div>
            </div>


          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="education">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hight_textt">
            <h1>Education</h1>
          </div>
        </div>
        <div class="col-12 edu_MB">
          <div class="edu_content_MB" id="edu_MB">
            <!-- content1 -->
            <div class="content_MB" id="content1_MB">
              <div class="nut_left_MB">
                <div class="anh_MB" id="anh1_MB"></div>
                <div class="nutdo_MB" id="nutdo1_MB"></div>
              </div>
              <div class="small_content_MB" id="small_content1_MB">
                <h3>Bachelor Of Data Science</h3>
                <p>2021 - 2024 | University Science & Technology Hanoi</p>
                <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
              </div>
            </div>

            <!-- content2 -->
            <div class="content_MB" id="content2_MB">
              <div class="nut_left_MB">
                <div class="anh_MB" id="anh2_MB"></div>
                <div class="nutdo_MB" id="nutdo2_MB"></div>
              </div>
              <div class="small_content_MB" id="small_content2_MB">
                <h3>IOS Courses</h3>
                <p>2021 - 2022 | Techmaster</p>
                <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
              </div>
            </div>
            <!-- content3 -->
            <div class="content_MB" id="content3_MB">
              <div class="nut_left_MB">
                <div class="anh_MB" id="anh3_MB"></div>
                <div class="nutdo_MB" id="nutdo3_MB"></div>
              </div>
              <div class="small_content_MB" id="small_content3_MB">
                <h3>Coaching 1-1</h3>
                <p>2022 - 2023 | Futix Lab</p>
                <p>Relevant courses included UI/UX Design, Fundamentals of graphics & real-life projects. </p>
              </div>
            </div>
            <!-- content4 -->
            <div class="content_MB" id="content4_MB">
              <div class="nut_left_MB">
                <div class="anh_MB" id="anh4_MB"></div>
                <div class="nutdo_MB" id="nutdo4_MB"></div>
              </div>
              <div class="small_content_MB" id="small_content4_MB">
                <h3>Online Courses</h3>
                <p>2022 - 2023 | Das, Uxcel, Skillshare</p>
                <p>Relevant courses included UX Design, Fundamentals of graphics, Development the projects. </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



</section>


































<section class="about_TABLET">
  <div class="biography">
    <div class="container">
      <div class="col-12">
        <div class="hight_text">
          <h1 animation>Passion Fuels Purpose!</h1>
        </div>
      </div>



      <div class="col-12">
        <div class="mid">
          <img src="../../../assets/img/img_about.png" alt="">
        </div>
      </div>
      <div class="col-12">
        <div class="left">
          <h3>BIOGRAPHY</h3>
          <p>Hi, I'm <span>Thanh Nguyen</span>, a web developer and UI/UX designer with a passion for creating beautiful, functional, and user-centered digital experiences. With 1.5 years of experience in the field. I am always looking for new and innovative ways to bring my clients' visions to life.</p>
          <p>I believe that design is about more than just making things look pretty – it's about solving problems and creating intuitive, enjoyable experiences for users.</p>
          <p>Whether I'm working on a website, mobile app, or other digital product, I bring my commitment to design excellence and user-centered thinking to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.</p>
        </div>
      </div>


      <div class="right">
        <div class="row">

          <div class="col-4">
            <div class="r_template">
              <h3>+</h3>
              <p>Template</p>
            </div>
          </div>



          <div class="col-4">
            <div class="r_complete">
              <h3>+</h3>
              <p>Project Complete</p>
            </div>
          </div>



          <div class="col-4">
            <div class="r_experience">
              <h3>1.5</h3>
              <p>Years Of Exprience</p>
            </div>

          </div>
        </div>

      </div>



    </div>
  </div>

  <div class="skills">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Skills</h1>
            <p>All the skills I currently possess and listed below are at the fundamental level, <span>except for UI/UX design skills</span>. The remaining skills I am learning to enhance my product's visual design capabilities.</p>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="sm_box">
              <img src="../../../assets/img/skills/design.png" alt="">
              <h3>UI/UX Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/graphic.png" alt="">
              <h3>Graphic</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/develop.png" alt="">
              <h3>Develop</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/3D.png" alt="">
              <h3>3D Design</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>

            <div class="sm_box">
              <img src="../../../assets/img/skills/animation.png" alt="">
              <h3>Animation</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>


            <div class="sm_box">
              <img src="../../../assets/img/skills/freelance.png" alt="">
              <h3>Freelance</h3>
              <p>In addition to this design job, I can also take on music performances, photography, video and image editing, and provide one-on-one English coaching.</p>
            </div>



          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="experience">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="high_text">
            <h1>Exprience</h1>
          </div>
        </div>

        <div class="col-12" id="ani">
          <div class="timeline_TABLET" id="timeline_TABLET">


            <div class="container right_container_TABLET">

              <div class="text_box_right_TABLET">
                <div class="logo_TABLET" id="logo1_TABLET">
                  <img src="../../../assets/img/experience/top.png" alt="">
                </div>
                <div class="anima1_TABLET" id="anima1_TABLET">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>
              </div>
            </div>


            <div class="container right_container_TABLET">

              <div class="text_box_right_TABLET">
                <div class="logo_TABLET" id="logo2_TABLET">
                  <img src="../../../assets/img/experience/mid.png" alt="">
                </div>
                <div class="anima2_TABLET" id="anima2_TABLET">
                  <h3>Intern <span>@Soosky LLC</span></h3>
                  <p>2021 - 2024 | Massachusetts Institute Of Technology (MIT)</p>
                  <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>

              </div>
            </div>


            <div class="container right_container_TABLET">
              <div class="text_box_right_TABLET">
                <div class="logo_TABLET" id="logo3_TABLET">
                  <img src="../../../assets/img/experience/bottom.png" alt="">
                </div>
                <div class="anima3_TABLET" id="anima3_TABLET">
                  <h3>Intern UI/UX Design <span>@Futix Lab</span></h3>
                  <p>2021 - 2022 | Techmaster</p>
                  <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
                  <span class="arrow_b"></span>
                  <span class="arrow"></span>
                </div>
              </div>
            </div>


          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="education">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hight_textt">
            <h1>Education</h1>
          </div>
        </div>
        <div class="col-12 edu_TABLET">
          <div class="edu_content_TABLET" id="edu_TABLET">
            <!-- content1 -->
            <div class="content_TABLET" id="content1_TABLET">
              <div class="nut_left_TABLET">
                <div class="anh_TABLET" id="anh1_TABLET"></div>
                <div class="nutdo_TABLET" id="nutdo1_TABLET"></div>
              </div>
              <div class="small_content_TABLET" id="small_content1_TABLET">
                <h3>Bachelor Of Data Science</h3>
                <p>2021 - 2024 | University Science & Technology Hanoi</p>
                <p>Relevant courses included Data Structures and Algorithms, Computer Systems Engineering, and Artificial Intelligence.</p>
              </div>
            </div>

            <!-- content2 -->
            <div class="content_TABLET" id="content2_TABLET">
              <div class="nut_left_TABLET">
                <div class="anh_TABLET" id="anh2_TABLET"></div>
                <div class="nutdo_TABLET" id="nutdo2_TABLET"></div>
              </div>
              <div class="small_content_TABLET" id="small_content2_TABLET">
                <h3>IOS Courses</h3>
                <p>2021 - 2022 | Techmaster</p>
                <p>Relevant courses included UI/UX Design, Code Frontend Basic & Advanced.</p>
              </div>
            </div>
            <!-- content3 -->
            <div class="content_TABLET" id="content3_TABLET">
              <div class="nut_left_TABLET">
                <div class="anh_TABLET" id="anh3_TABLET"></div>
                <div class="nutdo_TABLET" id="nutdo3_TABLET"></div>
              </div>
              <div class="small_content_TABLET" id="small_content3_TABLET">
                <h3>Coaching 1-1</h3>
                <p>2022 - 2023 | Futix Lab</p>
                <p>Relevant courses included UI/UX Design, Fundamentals of graphics & real-life projects. </p>
              </div>
            </div>
            <!-- content4 -->
            <div class="content_TABLET" id="content4_TABLET">
              <div class="nut_left_TABLET">
                <div class="anh_TABLET" id="anh4_TABLET"></div>
                <div class="nutdo_TABLET" id="nutdo4_TABLET"></div>
              </div>
              <div class="small_content_TABLET" id="small_content4_TABLET">
                <h3>Online Courses</h3>
                <p>2022 - 2023 | Das, Uxcel, Skillshare</p>
                <p>Relevant courses included UX Design, Fundamentals of graphics, Development the projects. </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



</section>
