/* Biography */

.biography .bio_infor{
  display: flex;
  margin-bottom: 80px;
}


.biography .hight_text h1{
  font-family: istok;
  font-size: 80px;
  text-align: center;
  margin: 40px 0;
  font-weight: 800;
}

.bio_infor .left h3{
  color: #515151;
  font-size: 14px;
  font-weight: 600;
  font-family: istok;
  margin-bottom: 10px;
}
.bio_infor .left span{
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  font-family: istok;
}
.bio_infor .left p{
  padding-right: 40px;
  color: var(--black-color);
  font-size: 14px;
  font-family: istok;
  margin-bottom: 25px;
  justify-content: center;

}
/* mid */

.bio_infor .mid{
  padding: 30px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 90%;
  box-shadow: 10px 10px 0px 0px black;
}
.bio_infor .mid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.bio_infor .mid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}





.bio_infor .right h3{
  font-weight: 800;
  font-size: 60px;
  font-family: istok;
}

.bio_infor .right p{
  font-weight: 800;
  font-size: 20px;
  font-family: istok;
}


.bio_infor .right{
  display: inline-block;
  width: 100%;
}

/* .bio_infor .right .r_experience,
.bio_infor .right .r_complete,
.bio_infor .right .r_template{
  width: 100%;
  margin-bottom: 30px;
}
.bio_infor .right .r_experience h3,
.bio_infor .right .r_experience p,
.bio_infor .right .r_complete h3,
.bio_infor .right .r_complete p,
.bio_infor .right .r_template h3,
.bio_infor .right .r_template p{
  text-align: center;

} */
.bio_infor .right .r_experience,
.bio_infor .right .r_complete,
.bio_infor .right .r_template{
  margin: 0 0 50px 90px;
}
.hight_text h1{
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animation {
  animation: fadeIn 1s ease-in-out;
}

/* SKILLS */

.skills{
  margin-bottom: 100px ;
}
.skills .high_text h1{
  font-family: istok;
  font-size: 80px;
  text-align: center;
  margin: 30px 0;
  font-weight: 800;
}
.skills .high_text p{
  color: var(--black-color);
  font-size: 20px;
  font-family: istok;
  margin: 20px 0;
  text-align: center;
}
.skills .high_text span{
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  font-family: istok;
}


.skills .sm_box{
  padding: 25px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 10px 7px 0px 0px black;
  margin: 20px;

}

.skills .sm_box img{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 45px;
  width: 45px;
}

.skills .sm_box h3{
  text-align: center;
  font-family: istok;
  font-size: 20px;
  margin: 5px 0;
  font-weight: 800;
}

.skills .sm_box p{
  text-align: center;
  font-family: istok;
  font-size: 15px;
  color: rgb(0,0,0,0.65);

}



@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.r_complete  h3 ,
.r_template h3 {
  animation: counter 5s forwards ;
  counter-reset: num var(--num);

}
.r_complete  h3::before ,
.r_template h3::before {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 20;
  }
}



/* Exprience */

.experience{
  background-image: url("../../../assets/img/experience/background_expe.png");
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  padding: 60px 0;
  margin-bottom: 80px;
}
.experience .high_text h1{
  font-family: istok;
  font-size: 80px;
  text-align: center;
  margin: 40px 0;
  font-weight: 800;
}










/* timeline */

.experience .timeline .left_container{
  left: 0%;
}
.experience .timeline .right_container{
  left: 50%;
}


.experience .timeline .container{
  margin: 0;
  position: relative;
  width: 50%;
  padding: 10px 50px;
  /* animation: movedown 1s linear forwards; */
  /* z-index: 9999; */
  /* opacity: 0; */
}
/* @keyframes movedown {
  0%{
    opacity: 1;

  }
  100%{
    opacity: 1;

  }
} */











/* logo */

.timeline .container:nth-child(1) .logo{
  animation: logo1 1s forwards;
}

@keyframes logo1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.timeline .container:nth-child(2) .logo{
  animation: logo2 1s forwards;
  opacity: 0;
}

@keyframes logo2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.timeline .container:nth-child(3) .logo{
  animation: logo3 1s forwards;
  opacity: 0;
}

@keyframes logo3 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.timeline .container:nth-child(1) .logo{
  animation-delay: 0s;
}
.timeline .container:nth-child(2) .logo{
  animation-delay: 1s;
}

.timeline .container:nth-child(3) .logo{
  animation-delay: 2s;
}

/* .................................... */


.timeline .container:nth-child(1) #anima{
  opacity: 0;
}
.anima1_run{
  animation: anima1 1s linear forwards;
}

@keyframes anima1 {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(10px);
  }
}




.timeline .container:nth-child(2) #anima{
  opacity: 0;
}
.anima2_run{
  animation: anima2 1s linear forwards;
}

@keyframes anima2 {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(-10px);
  }
}


.timeline .container:nth-child(3) #anima{
  opacity: 0;
}
.anima3_run{
  animation: anima3 1s linear forwards;
}

@keyframes anima3 {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(10px);
  }
}



.timeline .container:nth-child(1) #anima{
  animation-delay: 0s;
}
.timeline .container:nth-child(2) #anima{
  animation-delay: 1s;
}

.timeline .container:nth-child(3) #anima{
  animation-delay: 2s;
}

/* ................................ */


.experience .timeline .text_box_left .logo{
  position: absolute;
  left: 97%;
  top: 7%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 0px 0px black;
  padding: 5px 5px 3px 5px;
  z-index: 999;
}


.experience .timeline .text_box_right .logo{
  position: absolute;
  left: -3%;
  top: 7%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 0px 0px black;
  padding: 5px 5px 3px 5px;
  z-index: 999;
}
.experience .timeline img{

  height: 100%;
  width: auto;
}


.experience .timeline .left_container{

  position: relative;
}
.experience .timeline .left_container:before{
  position: absolute;
  left: 109%;
  top: 0;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 0px 0px black;
  padding: 7px;
}

/*
.timeline .right_container:first-child::before{
  position: absolute;
  height: 65%;
  width: 5px;
  top: 42%;
  left: 0;

  content: "";
  background-color: white;
}
.timeline .left_container::after{
  position: absolute;
  height: 78%;
  width: 5px;
  top: 28%;
  right: -5px;
  content: "";
  background-color: white;
} */




.experience .text_box_right h3,
.experience .text_box_left h3{
  font-weight: 800;
  font-size: 24px;
  font-family: istok;
}
.experience .text_box_right span,
.experience .text_box_left span{
  color:#C94440;
}
.experience .text_box_right p:first-of-type,
.experience .text_box_left p:first-of-type{
  font-size: 15px;
  color: rgb(0,0,0,0.55);
  margin: 10px 0;
  font-family: istok;
}
.experience .text_box_right p:last-of-type,
.experience .text_box_left p:last-of-type{
  font-size: 15px;
  color: rgb(0,0,0);
  font-family: istok;
}


.experience .timeline #anima{
  position: relative;
  background-color: white;
  padding: 24px;
  box-shadow: 6px 5px 0px 0px black;
  border-radius: 10px;

}


.experience .left_arrow{
  height: 0;
  width: 0px;
  position: absolute;
  top: 7%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  right: -14px;
}




.experience .left_arrow_b{
  height: 0;
  width: 0px;
  position: absolute;
  top: 10%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  right: -15px;

}

.experience .right_arrow{
  height: 0;
  width: 0px;
  position: absolute;
  top: 7%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  transform: rotate(180deg);
  left: -13px;
}




.experience .right_arrow_b{
  height: 0;
  width: 0px;
  position: absolute;
  top: 9%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  transform: rotate(180deg);
  left: -14px;

}


.experience .timeline::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 70%;
  top: 5%;
  background-color: white;
  left: 50%;
  margin-left: 0;
  z-index: 1;
  animation: movee 2.25s linear forwards;

}

@keyframes movee {
  0%{
    height: 0;
  }
  100%{
    height: 70%;
  }
}

/* education */

.education .hight_textt h1{
  font-family: istok;
  font-size: 80px;
  text-align: center;
  margin: 25px 0;
  font-weight: 800;
}

.edu_content{

  margin: 30px 0 100px 0;

}
.education .content{
  position: absolute;
  left: 0;
  width: 45%;
  transform: translateX(60%);

  /* background-color: green; */

}
.education .content h3{
  font-family: istok;
  font-size: 24px;
  font-weight: 800;

}
.education .content p:first-of-type{
  font-family: istok;
  font-size: 16px;
  color: rgb(0, 0, 0,0.5);

}
.education .content p:last-of-type{
  font-family: istok;
  font-size: 16px;
}


.edu_content{
  position: relative;
}

.edu_content::before{
  position: absolute;
  content: "";
  width: 5px;
  height: 85%;
  top: 0;
  background-color: black;
  left: 14%;
  z-index: -2;
  animation: moveline 3s linear forwards;
}


@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 85%;
  }
}

.edu_content .small_content{
  margin: 40px 0;
}

.edu_content  .content{
  position: relative;

}

.content .anh{
  position: absolute;
  padding: 17px;
  left: -32%;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;

}
.content .nutdo{
  position: absolute;
  padding: 9.5px;
  left: -30%;
  top: 10%;
  background-color: #C94440;
  border-radius: 50%;
}



.content:nth-child(1) .anh,
.content:nth-child(1) .nutdo{
  opacity: 0;
  animation: nutdo1 0s linear forwards;
}
@keyframes nutdo1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.content:nth-child(2) .anh,
.content:nth-child(2) .nutdo{
  opacity: 0;
  animation: nutdo2 0.2s linear forwards;
}

@keyframes nutdo2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.content:nth-child(3) .anh,
.content:nth-child(3) .nutdo{
  opacity: 0;
  animation: nutdo3 0.2s linear forwards;
}


@keyframes nutdo3 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.content:nth-child(4) .anh,
.content:nth-child(4) .nutdo{
  opacity: 0;
  animation: nutdo4 0.2s linear forwards;
}

@keyframes nutdo4 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.content:nth-child(1) .anh,
.content:nth-child(1) .nutdo{
  animation-delay: 0s;
}
.content:nth-child(2) .anh,
.content:nth-child(2) .nutdo{
  animation-delay: 1s;
}
.content:nth-child(3) .anh,
.content:nth-child(3) .nutdo{
  animation-delay: 2s;
}
.content:nth-child(4) .anh,
.content:nth-child(4) .nutdo{
  animation-delay: 3s;
}















.content:nth-child(1) .small_content{
  opacity: 0;
  animation: small1 1s linear forwards;
}
@keyframes small1 {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(-10px);
  }
}

.content:nth-child(2) .small_content{
  opacity: 0;
  animation: small2 1s linear forwards;
}
@keyframes small2 {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(-10px);
  }
}


.content:nth-child(3) .small_content{
  opacity: 0;
  animation: small3 1s linear forwards;
}

@keyframes small3 {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(-10px);
  }
}




.content:nth-child(4) .small_content{
  opacity: 0;
  animation: small4 1s linear forwards;
}

@keyframes small4 {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(-10px);
  }
}



.content:nth-child(1) .small_content{
  animation-delay: 0s;
}
.content:nth-child(2) .small_content{
  animation-delay: 1s;
}
.content:nth-child(3) .small_content{
  animation-delay: 2s;
}
.content:nth-child(4) .small_content{
  animation-delay: 3s;
}





