@media only screen and (min-width: 1024px){
  .footer_MB{
    display: none;
  }
  .footer{
    border-top: 2px solid black;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .footer span,
  .footer p{
    font-family: istok;
    font-size: 18px;
    text-align: end;
    color: var(--black-color);
    text-align: center;
  }
  .footer .mid span{
    position: relative;
  }

  .footer .mid span:last-child::after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 5%;
    width: 100%;
    background-color: var(--black-color);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer .right span{
    position: relative;
  }

  .footer .right span:last-child::after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 5%;
    width: 100%;
    background-color: var(--black-color);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right{
    /* float: right; */
    text-align: center;
  }
  .right a{
    text-decoration: none;


  }

  .mid span:first-child{
    color: var(--red-color);

  }


  .left{
    /* float: left; */
    text-align: center;
  }

  .mid p{
    text-align: center;
  }
}


@media only screen and (max-width: 1024px){
  .footer_PC{
    display: none;
  }
  .footer{
    border-top: 2px solid black;
    height: 20%;
    position: relative;
    padding: 2% 0;

  }

  .footer span,
  .footer p{
    font-family: istok;
    font-size: 18px;
    text-align: end;
    color: var(--black-color);
    text-align: center;
  }
  .footer .mid span{
    position: relative;
  }

  .footer .mid span:last-child::after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 5%;
    width: 100%;
    background-color: var(--black-color);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer .right span{
    position: relative;
  }

  .footer .right span:last-child::after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 5%;
    width: 100%;
    background-color: var(--black-color);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right,
  .mid,
  .left{
    text-align: center;
  }
  a{
    text-decoration: none;
  }

  .mid span:first-child{
    color: var(--red-color);

  }

  .mid span:last-child{
    color: var(--black-color);

  }


}
