<section class="home_PC">
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="image_left">
            <img src="../../../../assets/img/thanh_img.png" alt="">
          </div>
        </div>

        <div class="col-6">
          <div class="box_text_right">
            <div class="row">
              <div class="col-12">
                <h1>Turning Vision Into Reality With Clean Design.</h1>
              </div>

              <div class="col-12">
                <p>With a solid background in design and a passion for creativity, my name is Thanh Nguyen, and I believe I am a well-rounded candidate for the role.</p>
              </div>

              <div class="col-12">
                <div class="box_bottom">
                  <div class="row">
                    <div class="col-6">
                      <div class="bb_left">
                        <button ><a href=""><p>Contact me</p><i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i></a></button>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="bb_right">
                        <a href=""><p>Download CV</p></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>



            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div class="circle">
              <a href="">Hire Me</a>
            <div class="spin">
              <img src="../../../../assets/img/spin_img.png" alt="">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="light">
            <img src="../../../../assets/img/light.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="home_MB">
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="image_left">
            <img src="../../../../assets/img/thanh_img.png" alt="">
          </div>
        </div>

        <div class="col-12">
          <div class="box_text_right">
            <div class="row">
              <div class="col-12">
                <h1>Turning Vision Into Reality With Clean Design.</h1>
              </div>

              <div class="col-12">
                <p>With a solid background in design and a passion for creativity, my name is Thanh Nguyen, and I believe I am a well-rounded candidate for the role.</p>
              </div>

              <div class="col-12">
                <div class="box_bottom">
                  <div class="row">
                    <div class="col-6">
                      <div class="bb_left">
                        <button ><a href=""><p>Contact me</p><i class="fa-solid fa-arrow-up-right-from-square fa-xl"></i></a></button>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="bb_right">
                        <a href=""><p>Download CV</p></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>



            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <div class="circle">
              <a href="">Hire Me</a>
            <div class="spin">
              <img src="../../../../assets/img/spin_img.png" alt="">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="light">
            <img src="../../../../assets/img/light.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
