<div class="header">
  <div class="container">
    <div class="row">
      <ul class="nav_left">
        <li><a href="">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="logo_icon">

      </div>
      <div class="nav_right">
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/ins.png" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/face.png" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/in.png" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/git.png" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/skype.png" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/img/nav_right_social_media/light_dark_mode.png" alt=""></a></li>
        <li><button id="test">Click me</button></li>
      </div>
    </div>
  </div>
</div>







