/* header */


.header{
  position: relative;
  margin-top: 50px;

}
/* navbar left */
.header .nav_left{
  display: flex;
  background-color: #F5F5F5;
}

.header .nav_left li{
  position: relative;
  padding: 0 10px;
  font-family: istok;
  color: var(--black-color);
}
/* .header .nav_left li:first-child::after{
  position: absolute;
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(--black-color);
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
} */
.header .nav_left li a{
  font-size: 24px;
  color: var(--black-color);
  text-decoration: none;
  position: relative;
}

.header .nav_left li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black-color);
  opacity: 0;
  transition: all 0.2s;
}


.header .nav_left li a:hover::after {
  opacity: 1;
}

/* navbar right */
.header .nav_right{
  display: flex;
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 0%;
  background-color: #F5F5F5;
}

.header .nav_right li{
  margin-right: 19px;
  width: 38px;
  height: 36px;
  background-color: transparent;
}

.header .nav_right li:hover{
  box-shadow: 6px 5px 10px black;
}

.header .nav_right li a{
  height: 100%;
  width: auto;
}
/* logo_icon_mid */
.logo_icon a{
  width: 64px;
  height: 76px;

}
.logo_icon img{
  height: 100%;
  width: auto;
  opacity: 0;
}

.header .logo_icon {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%,-50%);
  width: 64px;
  height: 77px;
  background-image: url("../../../../assets/img/nav_logo_icon/black.png");
  background-color: #F5F5F5;
}
.header .logo_icon:hover{
  background-color: #F5F5F5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%,-50%);
  width: 64px;
  animation: animate 1s  steps(7) infinite;
}

@keyframes animate {
  0%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/blue.png");
  }
  29%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/orange.png");
  }
  43%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/green.png");
  }
  57%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/rouge.png");
  }
  71%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/red_wine.png");
  }
  85%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/yellow.png");
  }
  99%{
    background-position: 0;
    background-image: url("../../../../assets/img/nav_logo_icon/blue.png");
  }
}

