<section class="header_PC">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="nav_left">
            <li><a href="">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

       <div class="col-4">
        <div class="logo_icon">

        </div>
       </div>
       <div class="col-4">
        <div class="nav_right">
          <li><a href=""><img src="../../../../assets/img/nav_right_social_media/ins.png" alt=""></a></li>
          <li><a href=""><img src="../../../../assets/img/nav_right_social_media/face.png" alt=""></a></li>
          <li><a href=""><img src="../../../../assets/img/nav_right_social_media/in.png" alt=""></a></li>
          <li><a href=""><img src="../../../../assets/img/nav_right_social_media/git.png" alt=""></a></li>
          <li><a href=""><img src="../../../../assets/img/nav_right_social_media/skype.png" alt=""></a></li>
          <li><a id="dark_mode"><img src="../../../../assets/img/nav_right_social_media/light_dark_mode.png" alt=""></a></li>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>













<section class="header_MB">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <ul class="nav_left">
            <i class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="nav_left" class="fa-solid fa-bars"></i>
          </ul>
        </div>

       <div class="col-3">
        <div class="logo_icon">

        </div>
       </div>
       <div class="col-4">
          <div class="nav_right">
            <div class="circle">
              <a href="">Hire Me</a>
              <div class="spin">
                <img src="../../../../assets/img/spin_img.png" alt="">
              </div>
            </div>
          </div>
       </div>
      </div>

    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div  type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" class="fa-solid fa-x fa-sm"></i>
                </div>
              </div>
              <div class="col-12">
                <ul class="list_nav_left">
                  <li><a href="">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>

              <div class="col-12">
                <ul class="list_nav_right">
                  <li><a href=""><img src="../../../../assets/img/nav_right_social_media/ins.png" alt=""></a></li>
                  <li><a href=""><img src="../../../../assets/img/nav_right_social_media/face.png" alt=""></a></li>
                  <li><a href=""><img src="../../../../assets/img/nav_right_social_media/in.png" alt=""></a></li>
                  <li><a href=""><img src="../../../../assets/img/nav_right_social_media/git.png" alt=""></a></li>
                  <li><a href=""><img src="../../../../assets/img/nav_right_social_media/skype.png" alt=""></a></li>
                  <li><a id="dark_mode"><img src="../../../../assets/img/nav_right_social_media/light_dark_mode.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>



