<%- include('header.html')%>
  <link rel="stylesheet" href="css/projects.css">
  <section class="project_PC">
    <div class="projects">
      <div class="container">
        <div class="row">
          <!-- line 1 -->
          <div class="content1">
            <div class="col-12">
              <div class="high_text">
                <h1>Imagination Trumps Knowledge!</h1>
              </div>
            </div>
            <div class="col-12">
              <div class="big_content">
                <div class="row">
                  <div class="col-6">
                    <div class="content_left">
                      <img src="images/project_img/big_img.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="content_right">
                      <p>Featured Project</p>
                      <h3 id="name">Hanoi Start-Up Brother FC</h3>
                      <p>A feature-rich Crypto Screener App using React, Tailwind CSS, Context API, React Router and
                        Recharts. It shows detail regarding almost all the cryptocurrency. You can easily convert the
                        price in your local currency.</p>
                      <div class="small_box_content">
                        <a href=""><img src="images/project_img/webflow_icon.png" alt=""></a>
                        <button id="visit" onclick="subProjects(this)" data-name="Hanoi Start-Up Brother FC">Visit
                          Projects</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- line 2 -->
          <div class="content2">
            <div class="col-12">
              <div class="small_content">
                <div class="row">
                  <div class="col-6">
                    <div class="sm_box">
                      <div class="img">
                        <img src="images/project_img/star_lab.png" alt="">
                      </div>
                      <p>Website Template</p>
                      <div class="divide">
                        <h3 id="name">Starlab Group Projects</h3>
                        <img src="images/project_img/figma_icon.png" alt="">
                      </div>
                      <button id="visit" onclick="subProjects(this)" data-name="Starlab Group Projects">Visit
                        project</button>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="sm_box">
                      <div class="img">
                        <img src="images/project_img/ez_games.png" alt="">
                      </div>
                      <p>Website Template</p>
                      <div class="divide">
                        <h3 id="name">EZ-Games</h3>
                        <img src="images/project_img/figma_icon.png" alt="">
                      </div>
                      <button id="visit" onclick="subProjects(this)" data-name="EZ-Games">Visit project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- line 3 -->
          <div class="content1">
            <div class="col-12">
              <div class="big_content">
                <div class="row">
                  <div class="col-6">
                    <div class="content_left">
                      <img src="images/project_img/lan_health.png" alt="">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="content_right">
                      <p>Website Template</p>
                      <h3 id="name">Lan Health</h3>
                      <p>A feature-rich Crypto Screener App using React, Tailwind CSS, Context API, React Router and
                        Recharts. It shows detail regarding almost all the cryptocurrency. You can easily convert the
                        price in your local currency.</p>
                      <div class="small_box_content">
                        <a href=""><img src="images/project_img/webflow_icon.png" alt=""></a>
                        <button id="visit" onclick="subProjects(this)" data-name="Lan Health">Visit project</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- line 4 -->
          <div class="content2">
            <div class="col-12">
              <div class="small_content">
                <div class="row">
                  <div class="col-6">
                    <div class="sm_box">
                      <div class="img">
                        <img src="images/project_img/sun_group_projects.png" alt="">
                      </div>
                      <p>Website Template</p>
                      <div class="divide">
                        <h3 id="name">Sun Group Projects</h3>
                        <img src="images/project_img/figma_icon.png" alt="">
                      </div>
                      <button id="visit" onclick="subProjects(this)" data-name="Sun Group Projects">Visit
                        project</button>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="sm_box">
                      <div class="img">
                        <img src="images/project_img/tv_cast.png" alt="">
                        <p>Website Template</p>
                        <div class="divide">
                          <h3 id="name">TV Cast 3</h3>
                          <img src="images/project_img/figma_icon.png" alt="">
                        </div>
                        <button id="visit" onclick="subProjects(this)" data-name="TV Cast 3">Visit project</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </section>

  <!-- PROJECT - MOBILE -->
  <section class="project_MB">
    <div class="projects">
      <div class="row">
        <!-- line 1 -->
        <div class="col-12">
          <div class="high_text">
            <h1>Imagination Trumps Knowledge!</h1>
          </div>
        </div>
        <!-- line 1 -->
        <div class="content1">

          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="content_left">
                  <img src="images/project_img/big_img.jpg" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Featured Project</p>
                  <h3 id="name">Hanoi Start-Up Brother FC</h3>
                  <p>A feature-rich Crypto Screener App using React, Tailwind CSS, Context API, React Router and
                    Recharts. It shows detail regarding almost all the cryptocurrency. You can easily convert the price
                    in your local currency.</p>
                  <div class="small_box_content">
                    <a href=""><img src="images/project_img/webflow_icon.png" alt=""></a>
                    <button onclick="subProjects(this)" data-name="Hanoi Start-Up Brother FC">Visit project</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- line 2 -->
        <div class="content2">
          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="img">
                  <img src="images/project_img/star_lab.png" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Website Template</p>
                  <div class="divide">

                    <h3 id="name">Starlab Group Projects</h3>
                    <img src="images/project_img/figma_icon.png" alt="">
                  </div>

                  <button id="visit" onclick="subProjects(this)" data-name="Starlab Group Projects">Visit
                    project</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="content2">
          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="img">
                  <img src="images/project_img/ez_games.png" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Website Template</p>
                  <div class="divide">

                    <h3 id="name">EZ-Games</h3>
                    <img src="images/project_img/figma_icon.png" alt="">
                  </div>

                  <button id="visit" onclick="subProjects(this)" data-name="EZ-Games">Visit project</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- line 3 -->
        <div class="content1">

          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="content_left">
                  <img src="images/project_img/lan_health.png" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Featured Project</p>
                  <h3 id="name">Lan Health</h3>
                  <p>A feature-rich Crypto Screener App using React, Tailwind CSS, Context API, React Router and
                    Recharts. It shows detail regarding almost all the cryptocurrency. You can easily convert the price
                    in your local currency.</p>
                  <div class="small_box_content">
                    <a href=""><img src="images/project_img/webflow_icon.png" alt=""></a>
                    <button id="visit" onclick="subProjects(this)" data-name="Lan Health">Visit project</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- line 4 -->
        <div class="content2">
          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="img">
                  <img src="images/project_img/sun_group_projects.png" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Website Template</p>
                  <div class="divide">

                    <h3 id="name">Sun Group Projects</h3>
                    <img src="images/project_img/figma_icon.png" alt="">
                  </div>

                  <button id="visit" onclick="subProjects(this)" data-name="Sun Group Projects">Visit project</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="content2">
          <div class="big_content">
            <div class="row">
              <div class="col-12">
                <div class="img">
                  <img src="images/project_img/tv_cast.png" alt="">
                </div>
              </div>

              <div class="col-12">
                <div class="content_right">
                  <p>Website Template</p>
                  <div class="divide">

                    <h3 id="name">TV Cast 3</h3>
                    <img src="images/project_img/figma_icon.png" alt="">
                  </div>

                  <button id="visit" onclick="subProjects(this)" data-name="TV Cast 3">Visit project</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
  <script src="js/projects.js"></script>
  <%- include('footer.html')%>